<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
         <link rel="icon" href="{{ asset('assets/images/favicon.ico')}}" type="image/ico" sizes="16x16">
         <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
         <script src="{{ asset('assets/js/jquery-3.5.1.slim.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/popper.min.js')}}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js')}}" type="text/javascript"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main>
        {% if app.user %}
            <header class="p-3 mb-3 border-bottom border-dark">
                <div class="container">
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                        <div class="col-md-2">
                            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                                <img height="32" src="{{ asset('assets/images/address-book.png') }}" />
                            </a>
                        </div>
                        <div class="col-md-10">
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0">
                                <li class="me-5"><a href="{{ path('contacts_list') }}" class="nav-link text-dark px-2">All Contact</a></li>
                                <li class="me-5"><a href="{{ path('contacts_new') }}" class="nav-link text-dark px-2">Create Contact</a></li>
                                <li>
                                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span style="border: 1px solid black;padding: 2px 8px;font-size: 20px;" class="rounded-circle fw-bold">{{ app.user.username|first|upper }}</span>
                                    </a>
                                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                        <li><a class="dropdown-item" href="">{{ app.user.username|upper }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('authentication_logout') }}">Sign out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            {% else %}
                <div class="col-md-6 mx-auto text-center mt-4 mb-4">
                    <img width="15%" src="{{ asset('assets/images/address-book.png') }}" />
                </div>
            {% endif %}
            {% for message in app.flashes('success') %}
                <div style="position: absolute;top: 8%;z-index: 111;left: 25%;" class="alert alert-success mx-auto col-md-6 alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
