{{ form_start(contactform,{'attr':{'novalidate':'novalidate'}}) }}  
    <div class="col-md-6 mx-auto">
        <div class="mb-3">
            {{ form_row(contactform.firstname,{'attr':{
                'placeholder': 'Enter First Name'
            }}) }}
        </div>
        <div class="mb-3">
            {{ form_row(contactform.lastname,{'attr':{
                'placeholder': 'Enter Last Name'
            }}) }}
        </div>
        <div class="row mt-5">
            <div class="col-md-6 border-end border-dark" id="emailDiv"></div>
            <div class="col-md-6" id="telephoneDiv"></div>
        </div>
        <div class="mb-4 mt-4 text-center">
            <button type="button" class="btn btn-sm btn-primary fielAppender" data-append="emailDiv"> + Add Email</button>
            <button type="button" class="btn btn-sm btn-primary fielAppender" data-append="telephoneDiv"> + Add Telephone</button>
        </div>
        <button type="submit" class="btn col-12 btn-primary">{{button}}</button>
    </div>
{{ form_end(contactform) }}