{% extends 'base.html.twig' %}

{% block title %}My Contacts{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background: #242424;color: #fff;margin-top: -1rem;padding-bottom: 2px;">
        <div class="container">
            <h1 class="display-4 text-center">Find Contact</h1>
            <div class="col-md-12">
                <div class="col-md-6 mx-auto mt-4 mb-4">
                    {{ form_start(searchform,{'attr':{'class':'row g-3'}}) }}
                        <div class="col-9">{{ form_widget(searchform.name) }}</div>
                        <div class="col-3"><button class="col-md-12 btn btn-primary">Search</button></div>
                    {{ form_end(searchform) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for contact in contacts %}
            <div class="col-sm-3 mb-4">
                <div class="card border-dark">
                    <div class="card-body">
                        <h3 class="card-title">{{contact.firstname}} {{contact.lastname}}</h3>
                        <div class="mt-4 d-flex justify-content-between">
                            <a href="{{ path('contacts_single',{'id':contact.id}) }}" class="btn p-0 btn-link text-primary">Details</a>
                            <a href="{{ path('contacts_edit',{'id':contact.id}) }}" class="btn p-0 btn-link text-info">Edit</a>
                            <form onsubmit="return confirm('Are you sure about deleting {{contact.firstname}}  {{contact.lastname}}\' contact ?')" method="post" action="{{ path('contacts_delete',{id:contact.id}) }}">
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="_token" value="{{ csrf_token(contact.id)}}"/>
                                <button type="submit" class="btn p-0 btn-link text-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
            <div class="pagination mb-5">
                {{ knp_pagination_render(contacts, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
