{% extends 'base.html.twig' %}

{% block title %}My Contacts{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center text-primary">{{contact.firstname}} {{contact.lastname}}</h2>
        <p class="text-center text-muted">created on {{contact.createdAt | date('F d Y')}} at {{contact.createdAt | date('h:i')}}</p>
        <br />
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <a href="{{ path('contacts_edit',{'id':contact.id}) }}" class="btn btn-link text-info">Edit Contact Informations</a>
                    <form method="post"  onsubmit="return confirm('Are you sure about deleting {{contact.firstname}}  {{contact.lastname}}\' contact ?')" action="{{ path('contacts_delete',{id:contact.id}) }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="_token" value="{{ csrf_token(contact.id)}}"/>
                        <button type="submit" class="btn p-0 btn-link text-danger">Delete</button>
                    </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header text-white fw-bolder bg-dark">
                                    Emails
                                    <button style="float: right;" id="newMail" type="button" class="btn btn-link text-success p-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Add Contact Email
                                    </button>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for email in contact.emails %}
                                    <li class="list-group-item">
                                        {{ email.emailaddress }}  
                                        <form style="float: right;"  method="post"  onsubmit="return confirm('Are you sure about deleting')" action="{{ path('email_delete',{id:email.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <input type="hidden" name="_token" value="{{ csrf_token(email.id)}}"/>
                                            <button type="submit" class="btn p-0 btn-link text-danger">Delete</button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header text-white fw-bolder bg-dark">
                                    Telephones
                                    <button style="float: right;" id="newMail" type="button" class="btn btn-link text-success p-0" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                        Add Contact Phone
                                    </button>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for tel in contact.telephones %}
                                    <li class="list-group-item">
                                        {{ tel.telephone }}
                                        <form style="float: right;"  method="post"  onsubmit="return confirm('Are you sure about deleting')" action="{{ path('phone_delete',{id:tel.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <input type="hidden" name="_token" value="{{ csrf_token(tel.id)}}"/>
                                            <button type="submit" class="btn p-0 btn-link text-danger">Delete</button>
                                        </form>    
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Contact Email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(emailform,{'attr':{'novalidate':'novalidate'}}) }}  
                    <div class="mb-3">
                        {{ form_row(emailform.emailaddress,{'label': 'Enter Email Address'}) }}
                    </div>
                    <div class="row justify-content-between">
                        <button type="button" class="btn btn-secondary col-md-3" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary col-md-3">Save Email</button>
                    </div>
                    {{ form_end(emailform) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Contact Phone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(telepform,{'attr':{'novalidate':'novalidate'}}) }}  
                    <div class="mb-3">
                        {{ form_row(telepform.telephone,{'label': 'Enter Telephone Number'}) }}
                    </div>
                    <div class="row justify-content-between">
                        <button type="button" class="btn btn-secondary col-md-3" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary col-md-3">Save Email</button>
                    </div>
                    {{ form_end(telepform) }}
                </div>
            </div>
        </div>
    </div>
    {% if errorE == true %}
        <script type="text/javascript">
            $(window).on('load', function() {
                $('#exampleModal').modal('show');
            });
        </script>
    {% endif %}
    {% if errorT == true %}
        <script type="text/javascript">
            $(window).on('load', function() {
                $('#exampleModal2').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}