{% extends 'base.html.twig' %}

{% block title %}My Contacts{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center text-primary">{{contact.firstname}} {{contact.lastname}}</h2>
        <p class="text-center text-muted">created on {{contact.createdAt | date('F d Y')}} at {{contact.createdAt | date('h:i')}}</p>
        <br />
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <button type="button" class="btn btn-link text-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Contact Email Or Telephone
                    </button>
                    <a href="{{ path('contacts_edit',{'id':contact.id}) }}" class="btn btn-link text-info">Edit Contact Informations</a>
                    <form method="post"  onsubmit="return confirm('Are you sure about deleting {{contact.firstname}}  {{contact.lastname}}\' contact ?')" action="{{ path('contacts_delete',{id:contact.id}) }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="_token" value="{{ csrf_token(contact.id)}}"/>
                        <button type="submit" class="btn p-0 btn-link text-danger">Delete</button>
                    </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header text-white fw-bolder bg-dark">
                                    Emails
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">An item</li>
                                    <li class="list-group-item">A second item</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header text-white fw-bolder bg-dark">
                                    Telephones
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">An item</li>
                                    <li class="list-group-item">A second item</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Contact Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/newcontact.js')}}" type="text/javascript"></script>
{% endblock %}